body {
    /* Google Fonts */
    font-family: 'Laila', serif;

    background: url(../images/Flag_of_the_United_States.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    padding-top: 3%;
}

.jumbotron {
    background: rgba(255, 255, 255, 0.911);
}

h1.display-3 {
    color: #b31c31;
}

h2.display-4 {
    color: #39386e;
}

hr {
    border-top: 4px double #b31c31;
}